*{
    background: none;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    width: 100vw;
}

/* --------------- NAVBAR --------------- */

nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    font-size: 1em;
    width: 100vw;
    z-index: 10;
}

.nav-left{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: none;
    padding: 15px 10px;
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: none;
    padding: 15px 10px;
}

nav a{
    color: #FFFFFF;
    backdrop-filter: blur(20px);
    font-weight: 800;
    margin: 0px 8px;
    padding: 5px 10px;
    border-radius: 100px;
    transition: 150ms;
}

nav a:hover{
    background: #4a4a4a;
}

.menu{
    display: none;
}

/* --------------- FOOTER --------------- */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #101010;
    color: #ababab;
    border-top: 1px solid #FFFFFF;
    padding: 15px 0px;
    width: 100vw;
    bottom: 0;
    z-index: 30;
}
footer a{
    color: #ababab;
    margin-left: 10px;
}

footer a p{
    margin-left: 5px;
}

footer a:hover{
    text-decoration: underline;
    color: #ffffff;
}

/* --------------- PAGE : LOBBY --------------- */

body{
    background: #101010;
}

.lobby-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    height: 100vh;
}

.lobby-main a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #101010;
    width: 100vw;
    margin: 10px 0px;
    padding-bottom: 8px;
    border-top: 1px solid #101010;
    border-bottom: 1px solid #101010;
    transition: 150ms;
}

.lobby-main a:hover{
    background-image: url(img/TOPO5.webp);
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;    
    transition: 150ms;
}

.lobby-main a h1{
    color: #FFFFFF;
    font-size: 5em;
}

.lobby-footer{
    position: fixed;
    border: none;
}

.lobby-footer a{
    color: #ababab;
    margin-left: 10px;
}

.lobby-footer a p{
    margin-left: 5px;
}

.lobby-footer a:hover{
    text-decoration: underline;
    color: #ffffff;
}

/* --------------- PAGE : PORTFOLIO --------------- */

.portfolio-body{
    background: url(img/TOPO4.png) fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio-main{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    width: 100%;
    height: 100vh;
    padding: 0px 300px;
}

.principal h1{
    text-transform: uppercase;
    font-size: 8em;
    font-weight: 800;
}
.principal h2{
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
    border-top: 1px solid #ffffff;
    width: 100%;
    height: 100%;
    padding: 20px 300px;
}

.container h1{
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 800;
    margin: 20px 0px;
}

.parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: none;
    height: fit-content;
    margin: 0px 30px;
    width: 100%;
}

.child{
    text-align: justify;
    background: #3b3b3b;
    color: #fff;
    margin: 0px 15px;
    padding: 30px;
    width: 430px;
    border-radius: 8px;
}

.child h3{
    font-size: 1.8em;
    margin: 10px 0px;
}

.child img{
    margin-left: 20px;
}

.aside{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.presentation-aside{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.presentation-aside .child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: none;
    color: #FFFFFF;
    padding: 20px;
    max-width: 400px;
    height: 500px;
}

.presentation-aside p{
    margin: 10px;
}

.competence-aside{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 16px 0px;
    padding: 16px;
    border-radius: 20px;
    transition: 150ms;
}

.competence-aside:hover{
    background: #252525;
}

.competence-aside p{
    font-size: 1.8em;
    width: 90px;
}

.competence-aside img{
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

.trackbarA{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-weight: 900;
    height: 25px;
    width: 600px;
    margin-left: 20px;
    padding: 5px 10px 5px 5px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
}

.trackbar-html{
    background: #FFFFFF;
    width: 88%;
    border-radius: 100px;
    transition: 150ms;
}

.trackbar-css{
    background: #FFFFFF;
    width: 95%;
    border-radius: 100px;
    transition: 150ms;
}

.trackbar-python{
    background: #FFFFFF;
    width: 60%;
    border-radius: 100px;
    transition: 150ms;
}

.trackbar-linux{
    background: #FFFFFF;
    width: 70%;
    border-radius: 100px;
    transition: 150ms;
}

.trackbar-sql{
    background: #FFFFFF;
    width: 40%;
    border-radius: 100px;
    transition: 150ms;
}

.trackbar-js{
    background: #FFFFFF;
    width: 40%;
    border-radius: 100px;
    transition: 150ms;
}

button{
    background: #ffffff;
    color: #101010;
    border: none;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    border-radius: 100px;
    transition: 150px;
}
button:hover{
    background: #FF5757;
    cursor: pointer;
    transition: 150px;
}

/* --------------- PAGE : BLOG --------------- */

.blog-main{
    background: #101010;
    padding: 50px 20px;
}

.article{
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
}

.article img{
    height: 250px;
    width: 400px;
    border-radius: 20px;
}

.article .right{
    padding: 10px 20px;
    text-align: justify;
    color: #FFFFFF;
}

/* --------------- PAGE : CONTACT --------------- */

.main-contact{
    height: 100vh;
}

/* --------------- PAGE : INFORMATION --------------- */

.information-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    color: #FFFFFF;
    height: fit-content;
    padding: 50px 300px;
}

.information-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #323232;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700;
    margin: 20px 0px;
    padding: 10px 0px;
    height: fit-content;
    width: 100%;
    border-radius: 12px;
}

/* --------------- MEDIA --------------- */

@media only screen and (max-width: 900px){

   /* ----- NAVBAR ----- */

   .nav-right{
    display: none;
    }

    .menu{
        display: block;
    }
    .menu:hover{
        cursor: pointer;
    }

    .nav-left{
        padding: 15px 0px;
    }

    .nav-right{
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        background: #101010;
        backdrop-filter: blur(40px);
        border-right: 2px solid #FFFFFF;
        width: 70%;
        height: 100vh;
        margin-left: -110%;
        transition: 150ms;
    }

    .nav-right.mobile-menu{
        margin-left: 0;
    }

    .nav-right a{
        margin: 25px;
        font-size: 1.2em;
    }

    nav a:hover{
        background: none;
    }

    /* ----- FOOTER ----- */

    footer{
        font-size: 0.6em;
    }

    /* ----- LOBBY ----- */

    .lobby-main a{
        font-size: 0.6em;
        color: #FFFFFF;
    }

    .lobby-main p{
        font-size: 1.2em;
        color: #FFFFFF;
    }
   
   /* ----- PORTFOLIO ----- */

   .portfolio-main{
        padding: 0px;
    }

   .principal h1{
    font-size: 3em;
    }

    .principal h2{
    font-size: 0.8em;
    }

    .CV{
        width: 90vw;
    }

   .parent{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .child{
        width: max-content;
        width: 360px;
        margin: 10px 20px;
        font-size: 0.8em;
    }
    .child h3{
        font-size: 2em;
    }

    .child img{
        height: 40px;
        width: 40px;
    }

    .presentation-aside{
        flex-direction: column;
    }

    .presentation-aside .child{
        height: fit-content;
    }

    .trackbarA{
        height: 16px;
        width: 150px;
    }

   /* ----- BLOG ----- */

   .article{
    flex-direction: column;
    padding: 20px 0px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    }

    .article .right{
        padding: 10px 5px;
    }

   /* ----- CONTACT ----- */



   /* ----- INFORMATION ----- */
   
   .information-main{
    text-align: justify;
    color: #FFFFFF;
    height: fit-content;
    font-size: 0.8em;
    padding: 60px 20px 20px 20px;
    }

}